<!-- Content Header (Page header) -->
 <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Checkout</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Checkout</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
<div class="content">
  <div class="container-fluid" style="padding:20px;">


                    <!--checkout setup starts here-->
    <div class="checkout-container">

    <div class="progress-container">
        <nz-progress
          [nzPercent]="getProgressPrecent()"
          [nzShowInfo]="false"
          [nzStrokeWidth]="3"
        ></nz-progress>
    </div>
     

    <!-- FIRST STEP -->
  <div class="card" *ngIf="currentStep === 1">
    <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-text-width"></i>
            Order Shipping Address 
        </h3>
      </div>
    <div class="card-body">
          <h5>Shipping Addresses Found   <span class="badge badge-info">{{ userAddresses.length }}</span></h5>
          <div class="row">
        <div class="card col-lg-4 col-md-6 col-sm-12" *ngFor="let address of userAddresses;let i = index;"  style="margin:5px;padding:5px;">
          <div class="card-header">
            <h3 class="card-title">Address #{{ i+1 }}</h3>
          </div>
          <div class="card-body" >
            <p class=""><span class="text-default">Address </span>   <span class="text-info" style="text-transform:capitalize;" > {{ address.address  }}</span></p>   
            <p class=""><span class="text-default">City </span>   <span class="text-info" style="text-transform:capitalize;" > {{ address.city  }}</span></p>   
            <p class=""><span class="text-default">Pincode </span>   <span class="text-info" style="text-transform:capitalize;" > {{ address.zip  }}</span></p>   
            <p class=""><span class="text-default">Mobile </span>   <span class="text-info" style="text-transform:capitalize;" > {{ address.mobile  }}</span></p>   
          </div>
          <div class="card-footer" >
            <button type="submit" class="btn btn-primary"  (click)="submitBilling(address.id)" >Select Address</button>
          </div>
        </div>
      </div>


    </div>
  </div>
   <!-- FIRST STEP  ENDS HERE-->

    <!-- SECOND STEP -->
  <div  class="card"  *ngIf="currentStep === 2">
    <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-text-width"></i>
            Order Payment Details
        </h3>
      </div>
    <div class="card-body" style="min-height:200px;">
     
        <p class="card-title">Payment Method : <span class="text-info"> Cash On Delivery / Installation </span></p>

    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="submitPayment()" style="margin-left:20px;"> Confirm Payment Method </button>
    </div>
  </div>
    <!-- SECOND STEP ENDS HERE-->
   
 <!-- THIRD STEP STARTS HERE-->
 <div class="card" *ngIf="currentStep === 3">
    <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-text-width"></i>
            Order Summary
        </h3>
      </div>
    <div class="card-body row">

      <div class="summary-container__order col-lg-4 col-md-6 col-sm-12"  >
        
        <div class="box-profile row ">
          <div class="col-6"><span class="text-default">Item(s) </span> </div>
           <div  class="col-6"> <span class="text-info"> {{ cartData.products.length }}</span></div>
          <div  class="col-6"><span class="text-default">Payment method </span> </div>
           <div  class="col-6"><span class="text-info"> Cash On Delivery</span></div>
          <div  class="col-6"><span class="text-default">Order total </span> </div> 
          <div  class="col-6"> <span class="text-info"> {{ cartData.total | currency: "INR" }}</span></div>
        </div>
        <br/>
        <br/>
        <hr/>
      </div>
      
      <div class="summary-container__items col-lg-7 col-md-6 col-sm-12">
        <h2>Order Items</h2>
        <div class="item-list">
          <div class="item-container" *ngFor="let item of cartData.products">
            <div class="item-image">
              <img [src]="item.image" alt="" />
            </div>
            <div class="item-title">
              {{ item.title }}
            </div>
            <div class="item-total">
              {{ item.price | currency: "INR" }} x {{ item.quantity }} =
              {{ item.quantity * item.price | currency: "INR" }} 
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <button class="btn btn-success btn-block" (click)="submitCheckout()" > Place order </button>
    </div>
  </div>
  <!-- THIRD STEP ENDS HERE-->

   <!-- LAST STEP--- STEP 4 - STARTS HERE -->
   <div class="card" *ngIf="currentStep === 4">
    <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-text-width"></i>
            Order Placed ..... THANK YOU !!!
        </h3>
      </div>
    <div class="card-body">
    <div class="confirmation-container">
      <header>
        <div class="title">
          <h1>Thank you for your order with Electric Hamam .</h1>
          <p>Please check your email for the order confirmation</p>
        </div>
        <div class="order-id">
          Order ID: <span>{{ orderId }}</span>
        </div>
      </header>
      <button nz-button class="cta-button" routerLink="/">
        Continue shopping
      </button>
      <div class="products-container">
        <h2>Order Summary</h2>
        <div class="products-container__list">
          <div class="list-item" *ngFor="let item of products">
            <div class="item-image">
              <img [src]="item.image" alt="" />
            </div>
            <div class="item-title">
              {{ item.title }}
            </div>
            <div class="item-total">
              {{ item.price | currency: "INR" }} x {{ item.quantity }} =
              {{ item.quantity * item.price | currency: "INR" }}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <!-- LAST STEP--- STEP 4 - ENDS HERE -->



    </div>
     <!--checkout setup ends here-->


  </div>
</div>