<div class="product-card card" style="background-color:white;">
  <div class="card-body">
    <div class="product-card__image" routerLink="/product/{{ id }}">
      <img src="{{ image }}" alt="" />
    </div>
    <div class="product-card__info" routerLink="/product/{{ id }}">
      <header>
        <div class="title">
          <div class="product-name">{{ title }}</div>
          <div class="product-short-desc">{{ description }}</div>
        </div>
        <div class="product-price">{{ price | currency: "INR" }} / ft<sup>2</sup></div>
      </header>
    </div>

    </div>
    <div class=" card-footer">

      <button 
      class="p-button"
        nz-button
        [disabled]="quantity === 0"
        (click)="
          onAdd({
            id: id,
            price: price,
            image: image,
            title: title,
            maxQuantity: quantity
          })
        "
        *ngIf="!incart"
      >
        {{ quantity === 0 ? "Out of stock" : "Add to cart" }}
      </button>
      <button class="btn btn-success btn-block" *ngIf="incart"   routerLink="/cart" >In Cart Already</button>
    </div>

  </div>
  