<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"  style="text-transform: capitalize;color:white;">{{ product.title }}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/" style="color:white">Home</a></li>
          <li class="breadcrumb-item"><a style="color:white">Products</a></li>
          <li class="breadcrumb-item active" style="color:white">{{ product.title }}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
<div class="container-fluid" style="padding:20px;">

<div class="product-container card" *ngIf="!loading">
    <div class="card-body">
      <div class="product-container__image">
        <!-- Single Image -->
        <swiper
          [zoom]="true"
          [slidesPerView]="1"
          [spaceBetween]="50"
          [pagination]="true"
          *ngIf="showcaseImages.length === 0"
        >
          <ng-template swiperSlide [zoom]="true">
            <img src="{{ product.image }}" alt="`Product image`" />
          </ng-template>
        </swiper>
        <!-- Multiple images -->
        <swiper
          [zoom]="true"
          [slidesPerView]="1"
          [spaceBetween]="50"
          [pagination]="true"
          *ngIf="showcaseImages.length > 0"
        >
          <ng-template
            swiperSlide
            [zoom]="true"
            *ngFor="let image of showcaseImages; index as i"
          >
            <img src="{{ image }}" alt="`Product image`" />
          </ng-template>
        </swiper>
      </div>
      <div class="product-container__details">
        <h2 class="title">{{ product.title }}</h2>
        <div class="reviews">
          <div class="rating">
            <i nz-icon nzType="star" nzTheme="fill"></i>
            <i nz-icon nzType="star" nzTheme="fill"></i>
            <i nz-icon nzType="star" nzTheme="fill"></i>
            <i nz-icon nzType="star" nzTheme="fill"></i>
            <i nz-icon nzType="star"></i>
          </div>
          <!-- <span class="review-link">10 Review(s) |
            <span style="cursor: pointer">Add your review</span></span> -->
        </div>
        <div class="price-container">
          <h2 class="price">{{ product.price | currency: "INR" }}  / ft<sup>2</sup></h2>
          <span
            class="availability"
            [ngStyle]="{ color: quantity > 0 ? 'inherit' : 'red' }"
            >{{ quantity === 0 ? "Out of stock" : "In stock" }}</span
          >
        </div>
        <div class="description">{{ product.description }}</div>
        <div class="cta">
          <div class="add-to-cart">
            <span class="text-default">Feet<sup>2</sup> required </span> 
            <nz-input-number
              [(ngModel)]="quantity"
              [nzMin]="product.quantity > 0 ? 1 : 0"
              [nzMax]="product.quantity > 0 ? product.quantity : 0"
              [nzStep]="1"
              [disabled]="incart"
            ></nz-input-number>
            <button
            *ngIf="!incart"
              nz-button
              nzType="primary"
              (click)="addToCart()"
              [disabled]="quantity === 0"
            >
              Add to cart
            </button>
            <button class="btn btn-success" *ngIf="incart"   routerLink="/cart" >In Cart Already</button>
          </div>
          <div class="category">
            <span>Category: </span> <span class="text-info">Electric Hamam / Electric Under-Floor Heating / Radiant Floor Heating</span>
          </div>
          <!-- <div class="social-links">
            <span>Share: </span>
            <i nz-icon nzType="facebook" nzTheme="outline"></i>
            <i nz-icon nzType="twitter" nzTheme="outline"></i>
            <i nz-icon nzType="google-plus" nzTheme="outline"></i>
            <i nz-icon nzType="mail" nzTheme="outline"></i>
          </div> -->
        </div>
      </div>
    </div>
    <div class="additional"></div>
  </div>
  
</div>
</div>