.seller-container {
    padding-top: 24px;
}
.seller-container .brands {
    margin: 0 auto;
    padding: 24px 16px;
    max-width: calc(350px + 32px);
}
.seller-container .brands__loading {
    text-align: center;
}
.seller-container .brands__header {
    margin-bottom: 16px;
}
.seller-container .brands__header > h2 {
    font-size: 1.75rem;
}
.seller-container .brands__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
}
.seller-container .brands__list .brand-card {
    height: 100%;
    max-width: 350px;
    margin: 0 auto;
}
.seller-container .brands__list .brand-card__image {
    cursor: pointer;
}
.seller-container .load-brands {
    text-align: center;
    padding: 16px 16px 32px;
}
.seller-container .load-brands > button {
    max-width: 341px;
    height: 44px;
    width: 100%;
}
@media screen and (min-width: 768px) {
 
    .seller-container .brands {
        max-width: calc(700px + 72px);
        padding: 36px 24px;
   }
    .seller-container .brands__header {
        margin-bottom: 16px;
   }
    .seller-container .brands__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        row-gap: 24px;
   }
}
@media screen and (min-width: 1200px) {
    .seller-container .brands {
        max-width: calc(1050px + 96px);
        padding: 36px 24px;
   }
    .seller-container .brands__header {
        margin-bottom: 16px;
   }
    .seller-container .brands__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
   }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
   }
    50% {
        background-position: 100% 50%;
   }
    100% {
        background-position: 0% 50%;
   }
}
