   <!-- Content Header (Page header) -->
   <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0" routerLink="/sellers">Brands</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">All Brands</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">


   
            <!--show loading while loading the brands starts here-->
        <div *ngIf="sellerloading" class="brands__loading">
            <ng-template #indicatorTemplate>
              <i
                nz-icon
                nzType="loading"
                [ngStyle]="{ 'font-size': '2rem', margin: '0 auto' }"
              ></i>
            </ng-template>
            <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
          </div>

          <!--show loading while loading the brands ends here-->

<!--brands list setup starts here-->
<div class="row" *ngIf="!sellerloading">

  <div class="col-sm-4" *ngFor="let b of brands">
    <div class="position-relative" routerLink="/seller/{{ b.id }}" style="margin:5px;">
      <img src="../assets/{{ b.image }}" alt="Photo of a brand" class="img-fluid">
      <div class="ribbon-wrapper ribbon-lg">
        <div class="ribbon bg-success text-lg">
          {{ b.name }}
        </div>
      </div>
    </div>
  </div>
 
</div>
      <!--brands list setup ends here-->


</div>
</div>

