<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"  style="text-transform: capitalize;color:white;">Order History</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/" style="color:white">Home</a></li>      
            <li class="breadcrumb-item active" style="color:white">Order History</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  
  <!-- Main content -->
  <div class="content">
  <div class="container-fluid" style="padding:20px;">


<div class="order-history-container ">
    <h5 class="" style="color:white;" >{{ error }}</h5>

    <h5 class="" style="color:white;" *ngIf="distinctorders['orders']">Orders Found <span class="badge badge-info">{{ distinctorders['orders'].length }}</span></h5>

    <div class="row"><!--container row 1 starts here-->
        
        <div class="col-lg-4 col-md-6 col-sm-12 card mx-2 my-1" *ngFor="let order of distinctorders['orders'];let i = index;">


          <app-order-history-item 
          [orderId]="order.id"
          [orderlistindex]="i+1"
          [user_id]="order.user_id"
          [user_address_id]="order.user_address_id"
          [total_amount]="order.total_amount"
          [placed_on]="order.placed_on"
          [status]="order.status"
          ></app-order-history-item>


            
            
    </div>   <!--ngfor loop for orders ends here-->

    </div><!--container row 1 ends here-->

  </div><!--order container ends here-->
  

</div>

</div>