.card-trans{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255, 255, 0.5);
    border-left: 1px solid rgba(255,255, 255, 0.5);
  
    border-radius:15px;
    backdrop-filter:blur(5px) ;
    background:rgba(255,255, 255, 0.1);
    overflow: hidden;
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
    
  }
  .content-trans{
    text-align: center;
    padding:20px;
    color: white;
    transition: 0.5s;
    transform: translateY(100px);
    opacity: 0;
  }
  .h1-trans{
    position: absolute;
    top: -80px;
    left:30%;
    font-size: 8em;
    color:rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  .h2-trans{
    font-size: 1.8em;
    color: #fff;
    z-index:1;
  }
  .p-trans{
    font-size: 1em;
    color:#fff;
    font-weight: 300px;
  }
  .a-trans{
    position: relative;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 15px;
    font-weight: 500;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }



.brand-card {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 1.375rem;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    cursor: pointer;
}
 .products {
    margin: 0 auto;
    padding: 24px 16px;
    max-width: calc(350px + 32px);
}
 .products__loading {
    text-align: center;
}
 .products__header {
    margin-bottom: 16px;
}
 .products__header > h2 {
    font-size: 1.75rem;
}
 .products__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
}
 .products__list .product-card {
    height: 100%;
    max-width: 350px;
    margin: 0 auto;
}
 .products__list .product-card__image {
    cursor: pointer;
}
 .load-products {
    text-align: center;
    padding: 16px 16px 32px;
}
 .load-products > button {
    max-width: 341px;
    height: 44px;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .home-container .categories {
        max-width: calc(700px + 72px);
        padding: 36px 24px;
   }
    .home-container .categories__list .category-card {
        height: 200px;
   }
   .home-container .brands {
    max-width: calc(700px + 72px);
    padding: 36px 24px;
}
   .home-container .brands__list .brand-card {
    width: 200px;
}
    .home-container .products {
        max-width: calc(700px + 72px);
        padding: 36px 24px;
   }
    .home-container .products__header {
        margin-bottom: 16px;
   }
    .home-container .products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
        row-gap: 24px;
   }
}
@media screen and (min-width: 1200px) {
    .home-container .categories {
        max-width: calc(1050px + 96px);
        padding: 36px 24px;
   }
    .home-container .categories__list .category-card {
        width: 348px;
   }
   .home-container .brands {
    max-width: calc(1050px + 96px);
    padding: 36px 24px;
}
.home-container .brands__list .brand-card {
    width: 348px;
}
    .home-container .products {
        max-width: calc(1050px + 96px);
        padding: 36px 24px;
   }
    .home-container .products__header {
        margin-bottom: 16px;
   }
    .home-container .products__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
   }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
   }
    50% {
        background-position: 100% 50%;
   }
    100% {
        background-position: 0% 50%;
   }
}
