 <!-- Content Header (Page header) -->
 <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0" style="color:white;">Featured Home</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/" style="color:white;">Home</a></li>
          <li class="breadcrumb-item active">Featured Home</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="content">
<div class="container-fluid" style="padding:20px;">


  <div class="card" style="background-color:transparent;">
    <div class="card-header">
      <h3 class="card-title"  routerLink="/sellers" style="color:white;" >Brands</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body" style="background-color:transparent;">
      <swiper
      [zoom]="false"
      [slidesPerView]="screenWidth > 1200 ? 4 : 1"
      [spaceBetween]="50"
      [pagination]="true"
      [loop]="true"
      [allowSlidePrev]="true"
    >
      <ng-template swiperSlide *ngFor="let b of brands">
        <div class="brand-card">
          <img src="../assets/{{ b.image }}"  class="img-thumbnail" routerLink="/seller/{{ b.id }}">
        </div>
      </ng-template>
    </swiper>
    </div>
    <!-- /.card-body -->
  </div>



  <div class="card"  style="background-color:transparent;">
    <div class="card-header">
      <h2 class="card-title"  style="color:white;">Products</h2>
    </div>
    <!-- /.card-header -->
    <div class="card-body"  style="background-color:transparent;">
      <div *ngIf="loading" class="products__loading">
        <ng-template #indicatorTemplate>
          <i
            nz-icon
            nzType="loading"
            [ngStyle]="{ 'font-size': '2rem', margin: '0 auto' }"
          ></i>
        </ng-template>
        <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
      </div>


      <div class="row" *ngIf="!loading">
        <div class="col-lg-3 col-md-6 col-sm-12"  *ngFor="let n of products" style="margin-top:5px;margin-bottom:5px;">
        <app-product-card
                        [id]="n.id"
                        [title]="n.title"
                        [image]="n.image"
                        [price]="n.price"
                        [description]="n.description"
                        [category]="n.category"
                        [quantity]="n.quantity"
                        [seller_id]="n.seller_id"
          [onAdd]="cartService.addProduct.bind(cartService)"
        >
        </app-product-card>
        </div>
      </div>


    </div>
    <!-- /.card-body -->
  </div>


  <div class="load-products">
    <button
      nz-button
      (click)="showMoreProducts()"
      [nzLoading]="additionalLoading"
    >
      Show more
    </button>
  </div>
    
   
    
  </div>
</div><!--content div ends here-->